.header
 {
    padding-top: 5%;
    background-image: url("/css/style/files/back.png");
    margin-left: -3%;
    margin-right: -1%;
    text-align: center;
    font-family: "Century Gothic";
    font-size: 50pt;
    color: white;
    padding-bottom: 5%;
 }
.justText
{
    text-align: center;
    font-family: "Century Gothic";
    font-size: 14pt;
    color: #005a5e
}
.firstDiv
{
    background-color: #f0f6ff;
    text-align: center;
    font-family: "Century Gothic";
    font-size: 14pt;
    color: #005a5e
}
.upText
{
    text-align: right;
    font-family: "Georgia";
    font-size: 13pt;
    color: #161616;
    margin-bottom: -57px;
}
.justTextReg
{
    text-align: right;
    font-family: "Century Gothic";
    font-size: 16pt;
    color: #005a5e;
}
.personalText
{
    text-decoration: none;
    color: #161616;
    font-family: "Century Gothic";
    font-size: 17pt;
    margin-left: 5%;
}